{% extends "base.html" %}

{% block main %}
<div style="padding-left: 330px;padding-top: 70px;">
<div class="container-fluid" >
  <form action="{{ url_for('add') }}" method="post">
    {{ form.csrf_token }}
    <div class="row">
      <h3 style="color:whitesmoke; padding-right: 30px ;">Add Task</h3>
      <div class="col">
        {{ form.title(class="form-control") }}
      </div>
      <div class="col">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
